@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

:root {
	--red-main: #dc4848;
	--gray-main: #989898;
}

body {
	font-family: 'Montserrat', sans-serif;
}

.container {
	max-width: 1900px;
	margin: 0 auto;
}

.divider {
	position: relative;
	margin: 4rem 0;
	height: 1px;
	width: 100vw;
}

.div-transparent:before {
	content: '';
	position: absolute;
	top: 0;
	left: 5%;
	right: 5%;
	width: 90%;
	height: 1px;
	background-image: linear-gradient(to right, transparent, rgb(48, 49, 51), transparent);
}

/* ===Cookies=== */

.cookieConsent__Right {
	display: flex;
	flex-wrap: wrap;
}

/* ===Post=== */

hr {
	/* margin: 2rem 0; */
	width: 95%;
}

ul {
	list-style-position: inside;
}

/* strong:last-of-type {
	margin-bottom: 1rem;
	font-size: 2rem;
} */

li {
	margin-bottom: 1rem;
	word-break: break-all;
}

.post {
	padding: 0 1rem;
}

.post-content {
	padding: 0 1rem;
	width: 100%;
	gap: 2rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.post-content figure {
	display: flex;
	justify-content: center;
}

.post-content img {
	width: 18rem;
	height: auto;
}

.post embed {
	height: 100vh;
	width: 100%;
}

.post p,
.post li {
	/* word-wrap: break-word; */
	word-break: break-word;
}

.post h2 {
	margin: 1rem 0 1rem 0;
}

.post-title {
	text-align: center;
}

.kg-image {
	margin: 0 auto;
	object-fit: contain;
	width: 100%;
	height: 40vw;
	margin: 1rem 0;
}

@media (min-width: 600px) {
	.post-content img {
		width: 30rem;
		height: auto;
	}
}

@media (min-width: 1000px) {
	.kg-image {
		height: auto;
	}

	.post {
		padding: 0 10rem;
	}

	.post-content img {
		width: 40rem;
		height: auto;
	}
}

@media (min-width: 1100px) {
	.post {
		padding: 0 15rem;
	}

	.post-content img {
		width: 39rem;
		height: auto;
	}
}
